### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
# Display all the columns and their contents
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

## Player Count

* Display the total number of players

In [3]:
# Determine the total number of players
total_players = len(purchase_data['SN'].unique().tolist())
# Display the total number of players in a dataframe 
player_count = pd.DataFrame({"Total Players": [total_players]})
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting



* Display the summary data frame

In [4]:
# Calculate unique items, average price, number of purchases and total revenue and format them

pd.options.display.float_format = '${:,.2f}'.format
unique_items = len(purchase_data['Item ID'].unique().tolist())
average_price = purchase_data["Price"].mean()
number_of_purchases = purchase_data["Purchase ID"].count()
total_revenue = purchase_data["Price"].sum()
# Create a dataframe to hold the results and display them 
purchasing_analysis_total= pd.DataFrame({"Unique Items":[unique_items], "Average Price":[average_price],
                                   "Number of Purchases":[number_of_purchases],"Total Revenue":[total_revenue]})

purchasing_analysis_total

   Unique Items  Average Price  Number of Purchases  Total Revenue
0           183          $3.05                  780      $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
# Total_counts
total_counts = purchase_data.groupby("Gender").nunique()["SN"]
# Percentage_of_players
percentage_of_players =total_counts/total_players*100
# Format data
pd.options.display.float_format = '{:.2f}%'.format

# Create a dataframe to show gender demographics
gender_demographics= pd.DataFrame({"Total Counts":  total_counts,"Percentage of Players": percentage_of_players})

gender_demographics
# Display data in descending order 
gender_demographics.sort_values(by='Total Counts', ascending=False).head()

                       Total Counts  Percentage of Players
Gender
Male                            484                 84.03%
Female                           81                 14.06%
Other / Non-Disclosed            11                  1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
# Format Data
pd.options.display.float_format = '${:,.2f}'.format
# Basic calculations for purchase count, average purchase price, total purchase value and average total purchase per person
purchase_count= purchase_data.groupby('Gender').size()
total_purchase_value = purchase_data.groupby("Gender").sum()["Price"]
avg_purchase_price = total_purchase_value/purchase_count
total_counts = purchase_data.groupby("Gender").nunique()["SN"]
avg_total_purchase_per_person = total_purchase_value/total_counts

# Dataframe for purchasing analysis by gender
purchasing_analysis_gender = pd.DataFrame({"Purchase Count":  purchase_count,
"Average Purchase Price": avg_purchase_price,"Total Purchase Value": total_purchase_value,
                                           "Average Total Purchase Per Person": avg_total_purchase_per_person

})
purchasing_analysis_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
# Create bins for ages

bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]
group_names = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

# Categorize the existing players using the age bins
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels=group_names)

In [8]:
# Calculate the numbers and percentages by age group

age_demo = purchase_data.groupby("Age Ranges")
total_age_count = age_demo['SN'].nunique() 
pd.options.display.float_format = '{:.2f}%'.format
total_players= len(purchase_data['SN'].unique().tolist())
percentage_of_players=(total_age_count/total_players)*100

# Create a dataframe for age demographics
age_demographics=pd.DataFrame({"Total Count":total_age_count,"Percentage of Players":percentage_of_players})
age_demographics

            Total Count  Percentage of Players
Age Ranges
<10                  17                  2.95%
10-14                22                  3.82%
15-19               107                 18.58%
20-24               258                 44.79%
25-29                77                 13.37%
30-34                52                  9.03%
35-39                31                  5.38%
40+                  12                  2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
# Format Data

pd.options.display.float_format = '${:,.2f}'.format
# Basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc

purchase_count_age = age_demo['Age'].count()
total_purchase_value = age_demo.sum()["Price"]
avg_purchase_price = total_purchase_value/purchase_count_age
total_counts = age_demo.nunique()["SN"]
avg_total_purchase_per_person = total_purchase_value/total_counts

# Dataframe for purchasing analysis by age

purchasing_analysis_age = pd.DataFrame({"Purchase Count":  purchase_count_age,
                                       "Average Purchase Price": avg_purchase_price,"Total Purchase Value": total_purchase_value,
                                       "Average Total Purchase Per Person": avg_total_purchase_per_person})


purchasing_analysis_age

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
# Format data
pd.options.display.float_format = '${:,.2f}'.format

# Calculate purchase count, average purchase price and total purchase value by SN
purchase_count_SN = purchase_data.groupby('SN').size()
total_purchase_value = purchase_data.groupby("SN").sum()["Price"]
avg_purchase_price = total_purchase_value/purchase_count_SN
                                                         
# Dataframe to display top spenders                                                         
top_spenders = pd.DataFrame({"Purchase Count":  purchase_count_SN,"Average Purchase Price": avg_purchase_price,"Total Purchase Value": total_purchase_value})

In [11]:
# Sort the total purchase value column in descending order
top_spenders.sort_values(by='Total Purchase Value', ascending=False).head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                   $3.79                $18.96
Idastidru52               4                   $3.86                $15.45
Chamjask73                3                   $4.61                $13.83
Iral74                    4                   $3.40                $13.62
Iskadarya95               3                   $4.37                $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [12]:
# Format data
pd.options.display.float_format = '${:,.2f}'.format

# Retrieve the Item ID, Item Name, and Item Price columns
popular_items_group = purchase_data[["Item ID", "Item Name","Price"]]
# Group by Item ID and Item Name
popular_items= popular_items_group.groupby(["Item ID","Item Name"])
# Calculations to obtain purchase count, item price, and total purchase value
purchase_count= popular_items["Price"].count()
total_purchase_value = popular_items["Price"].sum()
item_price = total_purchase_value/purchase_count

# Dataframe to display most popular items
most_popular_Items = pd.DataFrame({"Purchase Count":  purchase_count,"Price": item_price,"Total Purchase Value": total_purchase_value})
                                                   
most_popular_Items
# Sort the purchase count column in descending order
most_popular_Items.sort_values(by='Purchase Count', ascending=False).head()

,,Purchase Count,Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [13]:
# Sort the above table by total purchase value in descending order
most_popular_Items.sort_values(by='Total Purchase Value', ascending=False).head()

,,Purchase Count,Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80